[general]
debug = False
owner = @yourtaghere  # @Required
session = bot.session
logo = data/logo.png
logo_users =  # @Required
target_id =  # @Required
target_text =  # @Required

[telegram]
api_id =  # @Required
api_hash =  # @Required
# token =  # @Optional: for actual bots.

[simservice]
api_key =  # @Required [unless .session file provided]

[user]
name = Template User
# image = static/bot_profile.jpg
