[general]
debug = False
owner = @yourtaghere  # @Required
session = bot.session
# target_id =
# source_id =

[telegram]
api_id =  # @Required
api_hash =  # @Required
# token =  # @Optional: for actual bots.

[simservice]
api_key =  # @Required [unless .session file provided]

[user]
name = Template User
# image = static/bot_profile.jpg
