telethon-tgcrypto==0.0.3
Telethon==1.35.0
aiofiles==23.2.1
aiohttp==3.9.5
yt-dlp==2024.12.23
ujson==5.10.0
opencv-python
moviepy==1.0.3
pytz==2024.1
cachetools==5.3.3
pyppeteer==0.0.25
langgraph==0.2.34
langchain-openai==0.3.12
langchain-community==0.3.1
imgkit==1.2.3
jinja2==3.1.4
aiocache==0.12.3
